<html>
	<head>
		<title>Learn Angularjs - Index Test 2</title>
		<script src="..angular.min.js"></script>
	</head>
	<body  ng-app>
		<div>Kafui Tourner</div>
		<div>5 + 5 = {{ 5 + 5 }}</div>
		<div>
		    <label>User name: </label><input type="text" ng-model="vala">
		    <label>val1: </label><input type="number" ng-model="val1">
		    <label>val2: </label><input type="number" ng-model="val2">
		    <div>User Name value: {{vala}}</div>
		    <div>Val1 value: {{val1}}</div>
		    <div>Val2 value: {{val2}}</div>
		    <div>Product number of val1 & val2: {{val1 * val2}}</div>
		</div>
	</body>
</html>
